h1{font-family :Georgia, 'Times New Roman', Times, serif;
color: darkblue;
}

h2 { font-family :sans-serif;
color:blue;
}


h3 { font-family :Arial, Helvetica, sans-serif;
color:dodgerblue;
}
p:nth-child(6){text-align: right;}

